In [28]:
import pandas as pd
import numpy as np

a = pd.DataFrame(0,index = range(len([1,2,3,4,5])),columns = ['two','three'] )

In [29]:
a

   two  three
0    0      0
1    0      0
2    0      0
3    0      0
4    0      0

In [30]:
a.loc[2,:]

two      0
three    0
Name: 2, dtype: int64

In [19]:
prior = pd.DataFrame(index = ['class1','class2'],columns = ['value'])
prior['value']['class1'] = 1
prior['value']['class2'] = 2
prior

       value
class1     1
class2     2

In [1]:
from math import log10
log10(100000)

5.0

In [2]:
a = [[[232,343,5334,343],1],[[34,23,34],9]]
b = [[[232,343,5334,343],1],[[34,23,34],9]]
a= a+b

In [3]:
a

[[[232, 343, 5334, 343], 1],
 [[34, 23, 34], 9],
 [[232, 343, 5334, 343], 1],
 [[34, 23, 34], 9]]

In [31]:
listofzeros = [0] * 4

In [36]:
listofzeros = [1,2,3,4]

In [38]:
a = listofzeros.copy()
b = listofzeros
b[2] = 1234432

In [39]:
listofzeros

[1, 2, 1234432, 4]

In [35]:
a = listofzeros