In [2]:
import pandas as pd

a = pd.DataFrame(index = ['d','b','a'], columns = ['two','three'] )

In [16]:
a ['two']['b'] =2

In [17]:
a

   two three
d  NaN   NaN
b    2   NaN
a  NaN   NaN

In [19]:
prior = pd.DataFrame(index = ['class1','class2'],columns = ['value'])
prior['value']['class1'] = 1
prior['value']['class2'] = 2
prior

       value
class1     1
class2     2

In [ ]:
cond_prob = pd.DataFrame(index = , columns = )